<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <form action="#" class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="mx-auto max-w-3xl">
      <h2
        class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl"
      >
        {{ "checkout.order-summary" | translate }}
      </h2>

      <!-- Cart Items -->
      <div
        *ngIf="cart && cart.items && cart.items.length > 0; else emptyCart"
        class="mt-6 sm:mt-8"
      >
        <!-- Billing & Delivery Information -->
        <div
          class="mt-6 space-y-4 border-b border-t border-gray-200 py-8 dark:border-gray-700 sm:mt-8"
        >
          <h4 class="text-lg font-semibold text-gray-900 dark:text-white">
            {{ "checkout.billing-delivery-info" | translate }}
          </h4>

          <div *ngIf="address; else noAddress">
            <dl>
              <dt class="text-base font-medium text-gray-900 dark:text-white">
                {{ "checkout.shipping-address" | translate }}
              </dt>
              <dd
                class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400"
              >
                {{ address.street }}, {{ address.streetNumber }},
                {{ address.city }}, {{ address.country }},
                {{ address.postalCode }}
              </dd>
            </dl>
            <button
              type="button"
              data-modal-target="billingInformationModal"
              data-modal-toggle="billingInformationModal"
              class="text-base font-medium text-primary-700 hover:underline dark:text-primary-500"
            >
              {{ "checkout.edit" | translate }}
            </button>
          </div>

          <ng-template #noAddress>
            <p class="text-base text-gray-500 dark:text-gray-400">
              {{ "checkout.no-address" | translate }}
            </p>
          </ng-template>
        </div>

        <div
          class="relative overflow-x-auto border-b border-gray-200 dark:border-gray-800"
        >
          <table
            class="w-full text-left font-medium text-gray-900 dark:text-white md:table-fixed"
          >
            <tbody class="divide-y divide-gray-200 dark:divide-gray-800">
              <tr *ngFor="let item of cart.items">
                <td class="whitespace-nowrap py-4 md:w-[384px]">
                  <div class="flex items-center gap-4">
                    <a
                      href="#"
                      class="flex items-center aspect-square w-16 h-16 shrink-0"
                    >
                      <img
                        *ngIf="item.imageUrls.length > 0"
                        [src]="item.imageUrls[0]"
                        alt="Product image"
                        class="h-auto w-full max-h-full dark:hidden"
                      />
                    </a>
                    <a href="#" class="hover:underline">{{
                      item.productName
                    }}</a>
                  </div>
                </td>

                <td
                  class="p-4 text-base font-normal text-gray-900 dark:text-white"
                >
                  x{{ item.quantity }}
                </td>

                <td
                  class="p-4 text-right text-base font-bold text-gray-900 dark:text-white"
                >
                  ${{ item.price }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Order Summary -->
        <div class="mt-4 space-y-6">
          <h4 class="text-xl font-semibold text-gray-900 dark:text-white">
            {{ "checkout.order-summary" | translate }}
          </h4>

          <div class="space-y-4">
            <dl class="flex items-center justify-between gap-4">
              <dt class="text-lg font-bold text-gray-900 dark:text-white">
                {{ "checkout.total" | translate }}
              </dt>
              <dd class="text-lg font-bold text-gray-900 dark:text-white">
                ${{ cart.totalPrice }}
              </dd>
            </dl>
          </div>

          <!-- Action Buttons -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-4">
            <button
              type="button"
              class="text-primary bg-white border border-gray-300 hover:bg-gray-100 font-bold rounded-lg px-5 py-2.5"
              routerLink="/"
            >
              {{ "checkout.return-to-shopping" | translate }}
            </button>
            <button
              (click)="onPlaceOrder()"
              type="button"
              class="focus:outline-none text-white font-bold bg-red-600 hover:bg-red-700 rounded-lg px-5 py-2.5"
            >
              {{ "checkout.place-order" | translate }}
            </button>
          </div>
        </div>
      </div>

      <!-- Empty Cart State -->
      <ng-template #emptyCart>
        <div class="text-center py-10">
          <div class="object-cover w-64 h-64 mx-auto mb-6">
            <img src="../../../assets/images/question.jpg" alt="" />
          </div>
          <p class="text-primary dark:text-gray-400">
            {{ "cart.empty" | translate }}
          </p>
          <a
            routerLink="/about-us"
            class="font-medium text-base mt-5 inline-flex items-center nav-link"
          >
            {{ "cart.back-to-shopping" | translate }}
            <svg
              class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </ng-template>
    </div>
  </form>
</section>
