<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="md:py-8">
  <h2 class="text-2xl font-bold mb-6 text-primary">{{ 'signUp.title' | translate }}</h2>
  <h2 class="text-xl font-semibold mb-6 text-green-darker">{{ 'signUp.subtitle' | translate }}</h2>

  <!-- NAME INFO -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-5">
    <div>
      <label
        for="firstname"
        class="block text-sm font-medium text-secondary mb-1"
        >{{ 'signUp.firstname' | translate }}</label
      >
      <input
        id="firstname"
        type="text"
        formControlName="firstname"
        placeholder="{{ 'signUp.firstnamePlaceholder' | translate }}"
        class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
      <div
        *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
        class="error text-red-500 text-sm mt-1"
      >
        <small *ngIf="firstname.errors?.['required']">{{ 'signUp.firstnameRequired' | translate }}</small>
        <small *ngIf="firstname.errors?.['minlength']">{{ 'signUp.firstnameMinLength' | translate }}</small>
      </div>
    </div>
    <div>
      <label
        for="lastname"
        class="block text-sm font-medium text-secondary mb-1"
        >{{ 'signUp.lastname' | translate }}</label
      >
      <input
        id="lastname"
        type="text"
        formControlName="lastname"
        placeholder="{{ 'signUp.lastnamePlaceholder' | translate }}"
        class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
      <div
        *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
        class="error text-red-500 text-sm mt-1"
      >
        <small *ngIf="lastname.errors?.['required']">{{ 'signUp.lastnameRequired' | translate }}</small>
        <small *ngIf="lastname.errors?.['minlength']">{{ 'signUp.lastnameMinLength' | translate }}</small>
      </div>
    </div>
  </div>

  <!-- ADDRESS INFO -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5 mb-5">
    <div class="md:col-span-2">
      <label for="street" class="block text-sm font-medium text-secondary mb-1"
        >{{ 'signUp.street' | translate }}</label
      >
      <input
        id="street"
        type="text"
        formControlName="street"
        placeholder="{{ 'signUp.streetPlaceholder' | translate }}"
        class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
      <div
        *ngIf="street.invalid && (street.dirty || street.touched)"
        class="error text-red-500 text-sm mt-1"
      >
        <small *ngIf="street.errors?.['required']">{{ 'signUp.streetRequired' | translate }}</small>
      </div>
    </div>
    <div>
      <label
        for="streetNumber"
        class="block text-sm font-medium text-secondary mb-1"
        >{{ 'signUp.streetNumber' | translate }}</label
      >
      <input
        id="streetNumber"
        type="text"
        formControlName="streetNumber"
        placeholder="{{ 'signUp.streetNumberPlaceholder' | translate }}"
        class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
      <div
        *ngIf="streetNumber.invalid && (streetNumber.dirty || streetNumber.touched)"
        class="error text-red-500 text-sm mt-1"
      >
        <small *ngIf="streetNumber.errors?.['required']">{{ 'signUp.streetNumberRequired' | translate }}</small>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-5">
    <div>
      <label
        for="postalCode"
        class="block text-sm font-medium text-secondary mb-1"
        >{{ 'signUp.postalCode' | translate }}</label
      >
      <input
        id="postalCode"
        type="text"
        formControlName="postalCode"
        placeholder="{{ 'signUp.postalCodePlaceholder' | translate }}"
        class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
      <div
        *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)"
        class="error text-red-500 text-sm mt-1"
      >
        <small *ngIf="postalCode.errors?.['required']">{{ 'signUp.postalCodeRequired' | translate }}</small>
      </div>
    </div>
    <div>
      <label for="city" class="block text-sm font-medium text-secondary mb-1"
        >{{ 'signUp.city' | translate }}</label
      >
      <input
        id="city"
        type="text"
        formControlName="city"
        placeholder="{{ 'signUp.cityPlaceholder' | translate }}"
        class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
      <div
        *ngIf="city.invalid && (city.dirty || city.touched)"
        class="error text-red-500 text-sm mt-1"
      >
        <small *ngIf="city.errors?.['required']">{{ 'signUp.cityRequired' | translate }}</small>
      </div>
    </div>
    <div class="md:col-span-2">
      <label for="country" class="block text-sm font-medium text-secondary"
        >{{ 'signUp.country' | translate }}</label
      >
      <select
        id="country"
        formControlName="country"
        class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
      >
        <option value="" disabled selected>{{ 'signUp.countryPlaceholder' | translate }}</option>
        <option value="FR">{{ 'signUp.countryFrance' | translate }}</option>
        <option value="US">{{ 'signUp.countryUS' | translate }}</option>
        <option value="DE">{{ 'signUp.countryGermany' | translate }}</option>
        <option value="JP">{{ 'signUp.countryJapan' | translate }}</option>
        <!-- Add more countries as needed -->
      </select>
      <div
        *ngIf="country.invalid && (country.dirty || country.touched)"
        class="error text-red-500 text-sm mt-1"
      >
        <small *ngIf="country.errors?.['required']">{{ 'signUp.countryRequired' | translate }}</small>
      </div>
    </div>
  </div>

  <!-- EMAIL AND PASSWORD -->
  <div class="form-group mb-4">
    <label for="email" class="block text-sm font-medium text-secondary mb-1"
      >{{ 'signUp.email' | translate }}</label
    >
    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="{{ 'signUp.emailPlaceholder' | translate }}"
      class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
    />
    <div
      *ngIf="email.invalid && (email.dirty || email.touched)"
      class="error text-red-500 text-sm mt-1"
    >
      <small *ngIf="email.errors?.['required']">{{ 'signUp.emailRequired' | translate }}</small>
      <small *ngIf="email.errors?.['email']">{{ 'signUp.invalidEmail' | translate }}</small>
    </div>
  </div>

  <div class="form-group mb-4">
    <label for="password" class="block text-sm font-medium text-secondary mb-1"
      >{{ 'signUp.password' | translate }}</label
    >
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="{{ 'signUp.passwordPlaceholder' | translate }}"
      class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
    />
    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="error text-red-500 text-sm mt-1"
    >
      <small *ngIf="password.errors?.['required']">{{ 'signUp.passwordRequired' | translate }}</small>
      <small *ngIf="password.errors?.['minlength']">{{ 'signUp.passwordMinLength' | translate }}</small>
      <small *ngIf="password.errors?.['passwordComplexity']">{{ 'signUp.passwordComplexity' | translate }}</small>
    </div>
  </div>

  <div class="form-group mb-4">
    <label
      for="confirmPassword"
      class="block text-sm font-medium text-secondary mb-1"
      >{{ 'signUp.confirmPassword' | translate }}</label
    >
    <input
      id="confirmPassword"
      type="password"
      formControlName="confirmPassword"
      placeholder="{{ 'signUp.confirmPasswordPlaceholder' | translate }}"
      class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
    />
    <div
      *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
      class="error text-red-500 text-sm mt-1"
    >
      <small *ngIf="confirmPassword.errors?.['required']">{{ 'signUp.confirmPasswordRequired' | translate }}</small>
      <small *ngIf="signUpForm.errors?.['passwordMismatch']">{{ 'signUp.passwordMismatch' | translate }}</small>
    </div>
  </div>

  <!-- SUBMIT BUTTON -->
  <button
    type="submit"
    [disabled]="signUpForm.invalid || isSubmitting"
    class="w-full cursor-pointer text-white bg-green-darker hover:bg-green font-semibold rounded-lg text-sm px-5 py-2.5 mb-5"
  >
    {{ isSubmitting ? ( 'signUp.loading' | translate ) : ( 'signUp.submitButton' | translate ) }}
  </button>
</form>
