<div>
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-12">
    <!-- Section Title -->
    <div class="flex items-center mb-14">
      <div class="w-2 h-10 bg-green-darker mr-4"></div>
      <div>
        <h2 class="text-primary text-3xl md:text-4xl font-semibold">
          {{ "categories.sectionTitle" | translate }}
        </h2>
      </div>
    </div>

    <!-- Gestion du chargement et affichage conditionnel -->
    <div *ngIf="categories && categories.length > 0; else noCategories">
      <div
        class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-6"
      >
        <div *ngFor="let category of categories" class="flex justify-center">
          <div
            class="max-w-xs w-full bg-white  rounded-lg overflow-hidden transform transition-transform hover:-translate-y-1"
          >
            <a [routerLink]="['/category', category.id]" class="block h-full">
              <img
                class="w-full h-24 object-cover rounded-t-lg"
                [src]="category.imageUrl"
                alt="{{ category.name }}"
              />
              <div
                class="p-3 text-center flex flex-col justify-center items-center h-auto"
              >
                <!-- Updated h5 -->
                <h5
                  class="text-base  text-primary font-semibold flex items-center justify-center h-full text-center leading-tight"
                >
                  {{ category.name }}
                </h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Message si aucune catégorie disponible -->
    <ng-template #noCategories>
      <p class="text-center text-gray-500 text-lg">Nothing to show</p>
    </ng-template>
  </div>
</div>
